* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbarcontainer {
  padding-top: 10px;
}
.logoofnavbar {
  background-color: #0d6efd;
  padding: 1px 10px;
  width: 50px;
  height: 50px;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 6px 0px 3px #8cb7f5;
  font-size: 2rem;
}
.logonav {
  opacity: 0.7;
  color: #ffffff;
}
.logotext {
  color: #8cb7f5;
  font-size: 2rem;
  font-weight: bold;
}
.nav-link {
  padding: 0;
  font-size: 14px;
}

.small {
  font-size: 12px;
}
.inputofnavbar {
  border-bottom: 2px solid #0d6efd !important;
  border-top: 2px solid #0d6efd !important;
  border-left: 2px solid #0d6efd !important;
  border-right: none;
}
.selectofnavbar {
  border-left: 2px solid #0d6efd !important ;
  border-top: 2px solid #0d6efd !important;
  border-bottom: 2px solid #0d6efd !important;
}
.rightsideicons {
  opacity: 0.5;
}
.rightsideicons:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.2s ease-in;
}
.bttomrowofnav {
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  width: 100%;
  padding: 0px 70px;
}
/* breadcrumbs styling  */
.breadcrumbs {
  background-color: #f5f7fa;
  padding: 7px 0px;
  opacity: 0.5;
}

/* footer section styling  */
.footer-section {
  margin-top: 50px;
}
.mainfooter {
  background-color: #ffffff;
  padding: 10px 50px;
}
.cardoneoffooter h4 {
  text-align: center;
  margin-left: 15px;
}
.cardoneoffooter ul li {
  list-style: none;
  padding: 5px 0px;
  text-align: center;
}
.cardoneoffooter ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}
.cardoneoffooter ul li a:hover {
  opacity: 1;
}
.cardoneoffooter p {
  opacity: 0.5;
  margin-top: 10px;
}
.cardoneoffooter .icons {
  display: flex;
  gap: 10px;
}
.cardoneoffooter .icons i {
  font-size: 1.2rem;
  color: white;
  background-color: #bdc4cd;
  padding: 5px 10px;
  border-radius: 25px;
}
.cardoneoffooter .icons i:hover {
  background-color: #8cb7f5;
  color: #0067ff;
  transform: scale(1.06);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.imageoffooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.imageoffooter img {
  width: 80%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.imageoffooter img:hover {
  transform: scale(1.04);
}
.footerbottom {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #eff2f4;
  padding: 5px 50px;
}
